<div class="container">
    <div class="wrap">
        <h2>Assets used</h2>
        <div class="asset">
            <h3>Map</h3>
            <p>Map provided by <a href="http://simplemaps.com/resources/svg-maps">Simplemaps</a></p>
        </div>
        <div class="asset">
            <div class="pixabay">
                <h3>Images</h3>
                <p>Images provided by <a href="https://pixabay.com/">Pixabay API</a></p>
            </div>
        </div>
        <div class="asset">
            <div class="pixabay">
                <h3>Weather Data</h3>
                <p>Data provided by <a href="https://openweathermap.org/">OpenWeather API</a></p>
            </div>
        </div>
        <div class="asset">
            <h3>About</h3>
            <p>Weather app that tells you current weather and weather forescast at city capitals of Europe (Home->To Map), or weather in any city you choose (Home -> Enter city name -> Go)</p>
        </div>
    </div>
</div>